body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.latihan-page {
    width: 100%;
    min-height: 100vh;
    background: #FFF9F0;
    display: flex;
    justify-content: center;
}

.latihan-wrapper {
    width: 100%;
    max-width: 1200px;
    position: relative;
}

/* NAV */
.nav-left-top {
    position: absolute;
    top: 30px;
    left: 40px;
    display: flex;
    gap: 15px;
}

.nav-right-top {
    position: absolute;
    top: 30px;
    right: 40px;
    display: flex;
    gap: 15px;
}

.icon-nav {
    width: 50px;
    cursor: pointer;
}

/* PROGRESS */
.progress-container {
    margin: 140px auto 0;
    width: 80%;
    height: 15px;
    background: white;
    border: 2px solid #8B4513;
    border-radius: 10px;
    position: relative;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #8B4513;
    border-radius: 10px;
    transition: width 0.5s ease;
}

/* QUESTION */
.question-container {
    margin: 40px auto;
    width: 75%;
    position: relative;
}

.question-box {
    width: 100%;
    height: 70px;
    background: #FFE599;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTERFLY */
.butterfly-indicator {
    position: absolute;
    top: -35px;
    left: 0%;
    transform: translateX(-50%);
    transition: left 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.butterfly-img {
    width: 45px;
}

.percent-label {
    background: #FF69B4;
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: -8px;
}

/* HINT */
.hint-section {
    position: absolute;
    right: -120px;
    top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hint-icon {
    width: 30px;
}

/* OPTIONS */
.answer-grid {
    width: 75%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.answer-card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.answer-card:hover {
    background: #ffe8b3;
}

/* BUTTON */
.spell-btn {
    display: block;
    margin: 40px auto;
    padding: 15px 60px;
    background: #F4C95D;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
