.settings-content {
    display: flex; flex-direction: column; align-items: center;
    width: 100%; height: 100%; padding: 5px; box-sizing: border-box;
}

.settings-title {
    color: #004b8d;     /* Warna biru sesuai tema */
    font-size: 40px;    /* UBAH UKURAN DI SINI (Misal: 40px agar lebih besar) */
    font-weight: bold;  /* Membuat tulisan tebal */
    margin-top: 10px;   /* Jarak dari atas layar */
    margin-bottom: 20px;/* Jarak ke kotak pink di bawahnya */
    text-align: center;
}

/* Kotak Pink Volume */
.pembungkus-vol-mus {
    background: url('../assets/Pengaturan/pembungkus_vol_mus.png') no-repeat center;
    background-size: 100% 100%;
    width: 90%; padding: 40px 60px;
    display: flex; flex-direction: column; gap: 20px; margin-bottom: 25px;
}
.slider-row { display: flex; align-items: center; gap: 20px; }
.pink-slider { -webkit-appearance: none; flex: 1; height: 15px; background: #ff2d78; border-radius: 10px; border: 3px solid white; outline: none; }
.pink-slider::-webkit-slider-thumb { -webkit-appearance: none; width: 30px; height: 30px; background: white; border-radius: 50%; cursor: pointer; }

/* Baris Bawah (Grid 4 Kolom) */
.bottom-menu-row { display: grid; grid-template-columns: repeat(4, 1fr); width: 95%; gap: 10px; margin-bottom: 30px; }
.menu-col { display: flex; flex-direction: column; align-items: center; cursor: pointer; }

/* Wadah Tombol ON/OFF */
.pembungkus-onoff {
    background: url('../assets/Pengaturan/pembungkus_on0ff.png') no-repeat center;
    background-size: 100% 100%;
    width: 110px; height: 50px;
    display: flex; align-items: center; justify-content: center;
}
.pembungkus-onoff img { width: 90px; } /* Menyesuaikan besar On/off di dalam wadah */

.label-under { display: flex; align-items: center; gap: 5px; color: white; font-weight: bold; margin-top: 30px; }
.label-under img { width: 100px; }

.footer-btns { display: flex; gap: 40px; }
.footer-btns img { height: 60px; cursor: pointer; transition: 0.2s; }
.footer-btns img:hover { transform: scale(1.1); }