* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'aDLaM Display', sans-serif;
    background-color: #fff;
    overflow: hidden;
}

#app-container {
    width: 100%;
    height: 100vh;
}

.popup-overlay {
    position: fixed; /* Tetap di posisi meskipun halaman di-scroll */
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Efek gelap transparan di belakang */
    display: none; /* Sembunyi secara default, akan diubah menjadi 'flex' lewat JS */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Pastikan berada di paling depan */
}

.popup-box {
    background: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    border: 4px solid #F4C95D; /* Warna kuning khas Funvo */
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}