* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'aDLaM Display';
    background-color: #fff;
    overflow: hidden;
}

#app-container {
    width: 100%;
    height: 100vh;
}