/* CSS/template.css */

/* Overlay untuk menutup layar belakang saat menu dibuka */
.credit-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Memberikan efek gelap di belakang buku */
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 2000; /* Pastikan ini angka paling tinggi */
}

.book-layout {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-right: 60px; 
}

/* Container buku harus relative */
.book-body {
    position: relative; 
    width: 1100px;
    margin: 0 auto;
}

/* Tombol Tutup di pojok kanan atas buku */
.close-btn {
    position: absolute;
    top: 25px;    /* Jarak dari atas buku */
    right: 35px;  /* Jarak dari kanan buku */
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2010;
}

.close-btn img {
    width: 50px;
}

/* Menu Samping */
.side-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px; 
    margin-top: 60px;
    position: relative;
    z-index: 2005;
}

.menu-item {
    width: 55px;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: brightness(0.9);
}

.menu-item.active {
    width: 65px;
    filter: brightness(1.1);
    z-index: 10;
    transform: scale(1.2);
}

.menu-item:hover {
    transform: scale(1.1);
}